/.idea/
/build/reports/tests/1676922929968.0.html
/build/reports/tests/1676922929968.0.png
/target/test-classes/AppleTest.class
/target/test-classes/BaseTest.class
/test-output/html/index.html
/target/log/log.log
/target/classes/pageModels/MainPage.class
/test-output/html/reportng.css
/test-output/html/reportng.js
/target/classes/pageModels/SearchResultPage.class
/test-output/html/suite0_test0_results.html
/test-output/xml/testCase_results.xml
/target/classes/pageModels/TestPage.class
